
.card {
  cursor: pointer;
}

.card.selected {
  z-index: 3;
  border: 4px solid #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
